<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ absolute_url(asset('../enzo/assets/images/favicon/favicon.png')) }}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ absolute_url(asset('../enzo/assets/images/favicon/favicon.png')) }}" type="image/x-icon">
    <title>Recuperacion de Contrasenna</title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/vendors/font-awesome.css')) }}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/vendors/icofont.css')) }}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/vendors/themify.css')) }}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/vendors/flag-icon.css')) }}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/vendors/feather-icon.css')) }}">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/vendors/sweetalert2.css')) }}">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/vendors/bootstrap.css')) }}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/style.css')) }}">
    <link id="color" rel="stylesheet" href="{{ absolute_url(asset('../enzo/assets/css/color-1.css')) }}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset('../enzo/assets/css/responsive.css')) }}">
  </head>
  <body>
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <!-- Loader ends-->
    <!-- login page start-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0">
          <div class="login-card">
            <div>
              <div align="center"><a class="logo-wrapper text-center" href="{{ path('app_dashboard') }}"><img class="img-fluid for-light" src="{{ absolute_url(asset('../enzo/assets/images/logo/logo.png')) }}" style="max-width: 20%" alt="loginpage"></a></div>
              <div class="login-main"> 
                <form class="theme-form">
                  <h4 class="text-center">Recuperar Contraseña</h4>
                  <p class="text-center">Para recuperar su contraseña ponga el correo con el que se encuentra registrado en el sistema</p>
                  <div class="form-group">
                    <label class="col-form-label">Direccion de Correo</label>
                    <input class="form-control" type="email" required="" placeholder="Test@gmail.com">
                  </div>
                  <div class="form-group mb-0">
                    <div class="text-end mt-3">
                      <button class="btn btn-primary btn-block w-100" type="submit">Enviar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- latest jquery-->
      <script src="{{ absolute_url(asset('../enzo/assets/js/jquery-3.6.0.min.js')) }}"></script>
      <!-- Bootstrap js-->
      <script src="{{ absolute_url(asset('../enzo/assets/js/bootstrap/bootstrap.bundle.min.js')) }}"></script>
      <!-- feather icon js-->
      <script src="{{ absolute_url(asset('../enzo/assets/js/icons/feather-icon/feather.min.js')) }}"></script>
      <script src="{{ absolute_url(asset('../enzo/assets/js/icons/feather-icon/feather-icon.js')) }}"></script>
      <!-- scrollbar js-->
      <!-- Sidebar jquery-->
      <script src="{{ absolute_url(asset('../enzo/assets/js/config.js')) }}"></script>
      <!-- Plugins JS start-->
      <script src="{{ absolute_url(asset('../enzo/assets/js/sweet-alert/sweetalert.min.js')) }}"></script>
      <!-- Plugins JS Ends-->
      <!-- Theme js-->
      <script src="{{ absolute_url(asset('../enzo/assets/js/script.js')) }}"></script>
      <!-- login js-->
      <!-- Plugin used-->
      <script>
        $(document).on('click', '#error', function(e) {
          if($('.email').val() == '' || $('.pwd').val() == ''){
          swal(
            "Error!", "Sorry, looks like some data are not filled, please try again !", "error"           
          )
          }
        });
      </script>
    </div>
  </body>
</html>